html body {
  overflow-x: hidden;
}

.one {
  color: rgb(0, 166, 0);
}
.head-ul .he:hover {
  color: rgb(0, 166, 0);
}
/* ======================= header styling ========================*/
.servicesmenu:hover .servicedropdownitem {
  display: block;
  transition: all 50s ease-in-out;
}
.servicedropdownitem {
  display: none;
  transition: all 50s ease-in-out;
}
.footer-banner {
  background-image: url("./assets/images/home-images/footer-banner.jpg");
  height: 500px;
  width: 100%;
  background-position: bottom;
}
@media (max-width: 1024.98px) {
  .footer-banner{
    height: 600px;
  }
}
@media (max-width: 647.98px) {
  .footer-banner{
    height: 900px;
  }
}

.header-line {
  background: linear-gradient(to right, #1cd400 0%, #363636 100%);
  background-repeat: no-repeat;
  background-position: left 100%;
  transition-duration: 1s;
  background-size: 0 6%;
  
}
.header-line:hover {
  background-size: 100% 6%;
}
/* ==================================== Home banner Image ======================== */
.banner-image {
  background-image: url("./assets//images/home-images/banner-image.jpg");
  background-attachment: fixed;
  height: 600px;
  width: 100%;
  background-size: cover;
}

.styled legend {
  color: rgb(255, 187, 0);
  margin-left: 35%;
  font-size: 100px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Great Vibes", cursive;
}

.styled fieldset {
  border: 2px solid rgb(197, 196, 196);
  height: auto;
  width: 95%;
}
@media (max-width: 575.98px) {
  .styled legend {
    color: rgb(255, 187, 0);
    text-align: center;
    margin-left: 0;
    font-size: 100px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "Great Vibes", cursive;
  }
  .styled fieldset {
    border: none;
    width: 100%;
  }
}
/* ================================================================== */
.Slide-image-bg{
  background-image: url("./assets/images/home-images/corporate-events-catering.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.Contact-banner {
  background-image: linear-gradient(
    150deg,
    #000000 0%,
    rgba(51, 51, 51, 0.1) 100%
  );
}
/* ============================================================ */
.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}